.banner {
  max-width: 1440px;
  height: 400px;
  margin: 0 auto;
}

.post {
  max-width: 700px;
  margin: 1rem auto;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--heading);
  }

  .infoPost {
    display: flex;

    time,
    span {
      font-size: 0.9rem;
      line-height: 1rem;
      font-weight: 400;
      margin: 0 0.5rem;
    }
  }
  .last {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  .divider {
    border-bottom: 1px solid var(--info);
    margin-bottom: 1rem;
    margin-top: 5rem;
    opacity: 0.1;
  }
  .navigate {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 5rem;

    .prev {
      text-align: left;
      width: 50%;
      padding: 0 0.5rem;
      height: 3rem;
      h2 {
        font-size: 1rem;
      }
      p {
        color: var(--highlight);
        margin-top: 0.5rem;
        cursor: pointer;
      }
    }
    .next {
      text-align: right;
      width: 50%;
      padding: 0 0.5rem;
      height: 3rem;
      h2 {
        font-size: 1rem;
      }
      p {
        color: var(--highlight);
        margin-top: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

.postContent {
  margin-top: 4rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--heading);
    line-height: 2rem;
    margin: 2rem 0;
  }
  p {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 1.5rem 0;
  }
}
